<nav class="navbar navbar-expand-sm navbar-dark bg-warning">
  <a class="navbar-brand" href="#">IT School</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="userAutenticated">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/courses">Courses <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" routerLink="/users">Users <span class="sr-only">(current)</span></a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!userAutenticated">
      <li class="nav-item">
        <a routerLink="/register" class="nav-link"> <i class="fa fa-user"></i> Register</a>
      </li>

      <li class="nav-item">
        <a routerLink="/login" class="nav-link"> <i class="fa fa-lock"></i> Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="userAutenticated">
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="logout()"> Logout</button>
      </li>

    </ul>
  </div>
</nav>